.antras-puslapis{
    margin-top: 2rem;
    padding-top: 0.1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250vh;
}
.antras-nuotraukos{
    position: relative;
    display: flex;
    height: 70vh;
    width: 100%;
}
.antras-nuotraukos::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    display: block;
    width: 100%;
    margin-top: 0.7vh;
    height: 0.5vh;
    background-color: black;
}
.antras-nuotraukos-zemiau{
    height: 38vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: white;
}
.h2-tekstas{
    line-height: 5vh;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: white;
 
}
a {
    text-transform: uppercase;
    color:black;
}
.square {
    border:  3px black solid;
    width: 60rem;
    height: 10rem;
    background-color: rgb(0, 0, 0);
    justify-content: center;
}
.head {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-right: 15rem;
    margin-left: 15rem;
    background-color: rgb(151, 158, 226);
    line-height: 80px;
    color: rgb(255, 255, 255);
}


.center_sale {
    display:flex ;
    flex-direction: column;
    width:100%;
    height: 60vh;
}
.sale1{
    width: 100%;
}
.four {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.high {
    width: 100%;
    display: flex;
}
.left_column {
    width: 50%;
    display: flex;
    flex-direction: column;    
}
.right_column {
    width: 100%;
    display: flex;  
    flex-direction: column;
}

.right_half {
    width: 50%;
    background-color: rgb(212, 212, 240);
}

.kicks {
    width: 100%;
    display: flex;
}
.left_kicks {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(212, 212, 240);
}
.left_text {
    width: 100%;
    display: flex;  
    flex-direction: column;
}
.right_all {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.nuotraukos {
    display:flex ;
    flex-direction: column;
    width:100%;
}
.eile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.eile img {
    width: 12rem;
    height: 12rem;
}

.west {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.west a {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}
.west a:hover {
    opacity: 0.7;
}
.offer {
    width: 100%;
    height: 10rem;
    background-color: rgb(163, 163, 216);
}
.tekstas {
    line-height: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.tekstas h2{
    margin-top: 40px;
    text-transform: uppercase;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.line {
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.dif {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.last {
    margin-top: 6rem;
    margin-right: 20rem;
    display: flex;
    justify-content: flex-end;
    gap: 10rem;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.last_row {
  width: 100%;
  display: flex;
  justify-content: space-around;
}    

.pirmas {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.nuorodos {
    display: flex;
    width: 30%;
    flex-direction: row;
}

.second {
    display: flex;
    flex-direction: column;
    width: 30%;

}

.column_three {
    width: 30%;
}